In [1]:
import numpy as np
import pandas as pd

In [2]:
#Create a DataFrame named financial_data that contains quarterly financial metrics for the years 2021 and 2022. The metrics include "Sales" and 
#"Expenses," which are further divided into "Online" and "In-Store" channels.

In [3]:
Data = {
    'Year': [2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4'],
    'Sales_Online': [11000, 19000, 13000, 15000, 10000, 29000, 20000, 22000],
    'Sales_In_Store': [21000, 24500, 28000, 27000, 30000, 28000, 29000, 30000],
    'Expenses_Online': [4000, 3500, 7000, 6800, 5200, 7300, 5700, 4900],
    'Expenses_In_Store': [7000, 8200, 8300, 8000, 8500, 9000, 9100, 9500]
}
Fin_data = pd.DataFrame(Data)
Fin_data

,Year,Quarter,Sales_Online,Sales_In_Store,Expenses_Online,Expenses_In_Store
0,2021,Q1,11000,21000,4000,7000
1,2021,Q2,19000,24500,3500,8200
2,2021,Q3,13000,28000,7000,8300
3,2021,Q4,15000,27000,6800,8000
4,2022,Q1,10000,30000,5200,8500
5,2022,Q2,29000,28000,7300,9000
6,2022,Q3,20000,29000,5700,9100
7,2022,Q4,22000,30000,4900,9500

In [5]:
#Q1.(a) What are the online sales for Q1 2022?
q1_2022_OS = Fin_data[(Fin_data['Year'] == 2022) & (Fin_data['Quarter'] == 'Q1')]['Sales_Online']
q1_2022_OS

4    10000
Name: Sales_Online, dtype: int64

In [6]:
#Q1.(b) How much were the in-store expenses in Q3 2021? 
q3_2021_In = Fin_data[(Fin_data['Year'] == 2021) & (Fin_data['Quarter'] == 'Q3')]['Sales_In_Store']
q3_2021_In

2    28000
Name: Sales_In_Store, dtype: int64

In [7]:
#Q1.(c) What are the total sales for Q4 2021?
q4_2021_TotalSale = Fin_data[(Fin_data['Year'] == 2021) & (Fin_data['Quarter']== 'Q4')]['Sales_Online']
q4_2021_TotalSale

3    15000
Name: Sales_Online, dtype: int64

In [8]:
#Q1.(d) What were the expenses for the online channel in 2022?
OnlineExpense_2022 = Fin_data[(Fin_data['Year'] == 2022)]['Expenses_Online']
OnlineExpense_2022

4    5200
5    7300
6    5700
7    4900
Name: Expenses_Online, dtype: int64

In [9]:
#Q1.(e) Retrieve sales data for Q2 2021.
TotalSale_Q2_2021 = Fin_data[(Fin_data['Year'] == 2021) & (Fin_data['Quarter']== 'Q2')]['Sales_Online']
TotalSale_Q2_2021

1    19000
Name: Sales_Online, dtype: int64

In [11]:
#Q1.(f) What is the maximum expense recorded in 2022?
MaxExp_2022 = Fin_data[Fin_data['Year'] == 2022][['Expenses_Online', 'Expenses_In_Store']].max().max()
MaxExp_2022

9500

In [12]:
#Q2. Stack a DataFrame of Store, Product, and Sales.
data = {
    'Store': ['Store_A', 'Store_A', 'Store_B', 'Store_B'],
    'Product': ['Product_1', 'Product_2', 'Product_1', 'Product_2'],
    'Sales': [1000, 1500, 1100, 1600]
}
df = pd.DataFrame(data)

stacked_df = df.set_index(['Store', 'Product']).stack().reset_index(name='Values')

print(stacked_df)

     Store    Product level_2  Values
0  Store_A  Product_1   Sales    1000
1  Store_A  Product_2   Sales    1500
2  Store_B  Product_1   Sales    1100
3  Store_B  Product_2   Sales    1600

In [13]:
#Q3. Unstack it to show sales by store.
data = {
    'Store': ['Store_A', 'Store_A', 'Store_B', 'Store_B'],
    'Product': ['Product_1', 'Product_2', 'Product_1', 'Product_2'],
    'Sales': [1000, 1500, 1100, 1600]
}

df = pd.DataFrame(data)

unstacked_df = df.set_index(['Product', 'Store'])['Sales'].unstack()

print(unstacked_df)

Store      Store_A  Store_B
Product
Product_1     1000     1100
Product_2     1500     1600

In [14]:
#Q4. Create a multi-index with Department and Role.
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Role': ['Manager', 'Associate', 'Manager', 'Associate', 'Manager', 'Associate'],
    'Salary': [70000, 50000, 75000, 52000, 90000, 60000]
}

df = pd.DataFrame(data)

multi_index_df = df.set_index(['Department', 'Role'])

print(multi_index_df)

                      Salary
Department Role
Sales      Manager     70000
           Associate   50000
HR         Manager     75000
           Associate   52000
IT         Manager     90000
           Associate   60000

In [15]:
#Q5. Access employees from a specific department.
sales_employees = multi_index_df.loc['Sales']
print(sales_employees)

           Salary
Role
Manager     70000
Associate   50000

In [16]:
#Q6. Sort a DataFrame of student grades by Subject and Grade
data = {
    'Student': ['Alex', 'Bobby', 'Charles', 'Dev', 'Everly'],
    'Subject': ['Science', 'Maths', 'Science', 'Maths', 'Science '],
    'Grade': [90, 82, 85, 95, 80]
}

df = pd.DataFrame(data)

sorted_df = df.sort_values(by=['Subject', 'Grade'])
ascending=[True]

print(sorted_df)

   Student   Subject  Grade
1    Bobby     Maths     82
3      Dev     Maths     95
2  Charles   Science     85
0     Alex   Science     90
4   Everly  Science      80

In [17]:
#Q7. Reset the index of the sorted grades.
sorted_df = sorted_df.reset_index(drop=True)
print(sorted_df)

   Student   Subject  Grade
0    Bobby     Maths     82
1      Dev     Maths     95
2  Charles   Science     85
3     Alex   Science     90
4   Everly  Science      80

In [18]:
#Q8. Set the Date column as the index in a weather DataFrame
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'Temperature': [25, 30, 32, 28],
    'Humidity': [90, 80, 88, 87]
}

weather_df = pd.DataFrame(data)
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df = weather_df.set_index('Date')

print(weather_df)

            Temperature  Humidity
Date
2023-01-01           25        90
2023-01-02           30        80
2023-01-03           32        88
2023-01-04           28        87

In [19]:
#Q9. Flatten a multi-index DataFrame of product sales.
data = {
    'Sales': [2000, 1700, 1500, 2100]
}
index = pd.MultiIndex.from_tuples(
    [('Store_A', 'Product_1'), ('Store_A', 'Product_2'),
     ('Store_B', 'Product_1'), ('Store_B', 'Product_2')],
    names=['Store', 'Product']
)

multi_index_df = pd.DataFrame(data, index=index)

flattened_df = multi_index_df.reset_index()

print(flattened_df)

     Store    Product  Sales
0  Store_A  Product_1   2000
1  Store_A  Product_2   1700
2  Store_B  Product_1   1500
3  Store_B  Product_2   2100

In [20]:
#Q10. Create a multi-index using Category and Product in a product DataFrame. Then, average the levels in the column.
data = {
    'Category': ['Accessories ', 'Accessories', 'Beauty', 'Haircare', 'Clothing', 'Clothing'],
    'Product': ['Belt', 'Watch','Lipstick','Shampoo', 'T-Shirt', 'Jeans'],
    'Sales': [1200, 800, 450, 700, 300, 200]
}

df = pd.DataFrame(data)

multi_index_df = df.set_index(['Category', 'Product'])

average_sales_by_category = multi_index_df.groupby(level='Category').mean()

print("Multi-index DataFrame:\n", multi_index_df)
print("\nAverage Sales by Category:\n", average_sales_by_category)

Multi-index DataFrame:
                        Sales
Category     Product
Accessories  Belt       1200
Accessories  Watch       800
Beauty       Lipstick    450
Haircare     Shampoo     700
Clothing     T-Shirt     300
             Jeans       200

Average Sales by Category:
                Sales
Category
Accessories    800.0
Accessories   1200.0
Beauty         450.0
Clothing       250.0
Haircare       700.0